<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.pinimg.com/originals/09/bd/7a/09bd7ac01ac90ceee999e4e5d0e8ce06.jpg);">
  <div class="container">
    <h1>Customize your drinks</h1>
    <p>And have fun!</p>
  </div>
</div>


<div class="container list">

  <h1 id="list-title">Cocktails</h1>

  <%= link_to 'Create Cocktail', new_cocktail_path , class: 'btn btn-primary' %>
  <div class="main-list">
    <div class="row justify-content-between my-5">
      <% @cocktails.each do |cocktail| %>
        <!-- <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2> -->
        <div class="card-product">
          <img src="<%= cl_image_path cocktail.photo.key, height: 300, width: 400, crop: :fill %>" />
          <div class="card-product-infos">
          <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          </div>
        </div>
      <% end %>
    </div>
    <div class="create-card">
      <h3>Create a Cocktail</h3>
      <%= simple_form_for @cocktail do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>





</div>

